<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xbsky.app</title>
    <meta name="theme-color" content="#ff0000">
    <meta property="og:site_name" content="xbsky.app">
    <meta property="og:title" content="An error occoured">
    <meta property="og:url" content="https://xbsky.app">
    <meta property="og:description" content="Uh-oh.. that was not supposed to happen..
If you believe this is a genuine error (and not a typo), notify me anywhere!
The error you encountered is: {{.errorMsg}}">
</head>
<body>
    <p>Uh-oh.. that was not supposed to happen..</p>
    <p>If you believe this is a genuine error (and not a typo), notify me anywhere!</p>
    <p>The error you encountered is: {{.errorMsg}}</p>
</body>
</html>