<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xbsky.app</title>
    <meta name="theme-color" content="#ff0000">
    <meta property="og:site_name" content="xbsky.app">
    <meta property="og:title" content="An error occoured">
    <meta property="og:url" content="https://xbsky.app">
    <meta property="og:description" content="Uh-oh, that's an error.
If you believe this is a genuine error (and not a typo), notify me:
github.com/colduw/xbsky
@coldunwanted.net on Bsky
@reallycoldunwanted on Discord
The error you encountered is: {{.errorMsg}}">
</head>
<body>
    <p>Uh-oh, that's an error.</p>
    <p>If you believe this is a genuine error (and not a typo), notify me:</p>
    <p><a href="https://github.com/colduw/xbsky">github.com/colduw/xbsky</a></p>
    <p><a href="https://bsky.app/profile/coldunwanted.net">@coldunwanted.net</a> on BlueSky</p>
    <p><a href="https://discord.com/users/928010351583330414">@reallycoldunwanted</a> on Discord</p>
    <p>The error you encountered is: {{.errorMsg}}</p>
</body>
</html>